{% extends "shared/_layout.html" %}
{% block title %} Your profile {% endblock %}
{% block main_content %}
    <div class="container">
        <h1>Your profile</h1>
        <p>Welcom to your account {{ user.name }}</p>
    </div>
{% endblock %}
