{% extends "shared/_layout.html" %}
{% block title %} Register {% endblock %}
{% block main_content %}
    <form action="" method="post" class="mt-2">
        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Register new account</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="name" type="text" class="form-control" placeholder="Name" value="{{ name }}" />
                            </div>
                            <div class="form-group">
                                <input name="email" type="email" class="form-control" placeholder="Email" value="{{ email }}" />
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" class="form-control" placeholder="Password"
                                       value="{{ password }}" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btnSubmit">Register</button>
                </div>
            </div>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
        </div>

    </form>
{% endblock %}
